// Place all the styles related to the Scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-link, .nav-pad{
  color: white;
}

.nav-link:hover {
  background: white;
}

.nav-pad{
  padding: 0.5rem 1rem;
}
